.product-watch{

    display: flex;
    align-items: center;
    justify-content: center;
}

#text-select{
    text-align: center;
    font-size: 30px;;
}


product-watch:hover{

    cursor: pointer;

}