.product-watch{

    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    text-align: center;
}


product-watch:hover{

    cursor: pointer;
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
}